  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= form_for :user, url: {action: :create}, method: :post do |f| %>
	<div class="form-group">
		<%= f.label "Username" %>
		<%= f.text_field :name, placeholder: "Username" %>
	</div>

	<div class="form-group">
		<%= f.label "Email" %>
		<%= f.text_field :email, placeholder: "Email" %>
	</div>

	<div class="form-group">
		<%= f.label "Password" %>
		<%= f.password_field :password %>
	</div>

	<div class="form-group">
		<%= f.label "Password Confirmation" %>
		<%= f.password_field :password_confirmation %>
	</div>

	<%= f.submit "Sign Up!", class: "btn btn-default btn-color" %>
<% end %>