<%= render "navbar" %>

<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10"><h2 class="headline">Your Code: <%= @ritly.random_string %></h2></div>
	</div>

	<div class="row">
		<iframe src="<%= @ritly.link %>" class="preview">
	  		<p>Your browser does not support iframes.</p>
		</iframe>
	</div>

	<div class="row center">
		<h3 class="color"><%= @ritly.link %></h3>
	</div>

	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10"><h3 class="color">Click Here: <%= link_to "localhost:3000/go/#{@ritly.random_string}", "/go/#{@ritly.random_string}", method: :patch, class: "link"  %></h3></div>
	</div>

</div>